.group{
    width: 90%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.group:hover{
    background-color: var(--light-roof);
    color: var(--dark-base);
}
.group:hover .icon-area{
    background-color: var(--dark-base);
    color: var(--light-roof);
}
.group:hover i{
    color: var(--light-roof);
}
.group-icon{
    flex: 1;
}
.group-icon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.group-icon i{
    color: var(--dark-base);
}
.group-icon img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.icon-area{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--light-roof);
}
.group-item{
    flex: 9;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5px;
}
.group-item span:nth-child(1){
    font-size: var(--fs-m);
}
.group-item span:nth-child(2){
    font-size: var(--fs-s);
}