
.edit-message{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  }
  .edit-items{
    padding: 5px 0px 5px 0px;
    width: 98%;
    display: flex;
    align-items: center;
    gap: 2px;
    flex-direction: row;
    border-radius: 5px;
  }
.edit-item:nth-child(1){
    width: 20px;
    padding: 0px 10px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.edit-item:nth-child(2){
    display: flex;
    align-items: start;
    gap: 2px;
    flex-direction: column;
}
.edit-title{
    font-size: calc(var(--fs-xxm) + 1px);
    font-weight: 500;
    color: var(--light-ruser);
}
.edit-content{
    font-size: var(--fs-xm);
    max-height: 55px;
    white-space: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
}
  .edit-close{
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: start;
  }
  .edit-close i{
    color: var(--dark-roof);
    cursor: pointer;
  }
  .edit-close i:hover{
    color: var(--dark-base);
  }
