<div class="container" [style.view-transition-name]="'app-sidebar-container'">
    <div class="header">
        <div class="top">
            <div class="top-left">
                <div class="title" >
                    @if (!isStarredMessageOpened) {
                        <span>Chats</span>
                    }@else {
                        <span [style.view-transition-name]="'home-title'">StarredMessages</span>
                    }
                </div>
            </div>
            <div class="dropdown">
                @if (!isStarredMessageOpened) {
                    <i class="fa-sharp fa-regular fa-pen-to-square new"></i>
                    <div class="dropdown-content" [@dropdownAnimation]>
                        <div (click)="showCreateRoom()">Create room</div>
                        <div (click)="showJoinRoom()">Join room</div>
                        <div (click)="showStarredMessage()">Starred messages</div>
                        <div [routerLink]="'/profile'">Settings</div>
                    </div>
                }@else {
                    <i class="fa-solid fa-xmark new" (click)="closeStarredMessage()"></i>
                }
              </div>
        </div>
        <div class="bottom">
            <div class="search-container">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" [placeholder]="!isStarredMessageOpened ? 'Search or start a new chat' : 'Search'" (input)="onSearchChange($event)" #searchChatField>
            </div>
        </div>
    </div>
    <div class="chats">
        @if (isStarredMessageOpened) {
            <span>Messages</span>
            @for(chat of starredChats; track chat.name){
                <app-chat [isStarredMessageOpened]="isStarredMessageOpened" (click)="showChat(chat)" [index]="$index" (click)="clickChat($index)" [clickedIndex]="clickedIndex" [currentUserId]="userId" class="chat" [chat]="chat"></app-chat>
            }
        }@else if (isSearching) {
            @for(chat of searchedChats; track chat.name){
                <app-chat [isStarredMessageOpened]="isStarredMessageOpened" (click)="showChat(chat)" [index]="$index" (click)="clickChat($index)" [clickedIndex]="clickedIndex" [currentUserId]="userId" class="chat" [chat]="chat"></app-chat>
            }
        }
        @else {
            @for(chat of chats; track chat.name){
                <app-chat [isStarredMessageOpened]="isStarredMessageOpened" (click)="showChat(chat)" [index]="$index" (click)="clickChat($index)" [clickedIndex]="clickedIndex" [currentUserId]="userId" class="chat" [chat]="chat"></app-chat>
            }
        }
    </div>
</div>