<div class="container">
    <div class="header">
        <div class="top">
            <span class="chats">Chats</span>
            <i class="fa-sharp fa-regular fa-pen-to-square new"></i>
        </div>
        <div class="bottom">
            <input type="text" placeholder="Search or start a new chat">
        </div>
    </div>
    <div class="chat">
        <app-chat></app-chat>
        <app-chat></app-chat>
        <app-chat></app-chat>
        <app-chat></app-chat>
        <app-chat></app-chat>
        <app-chat></app-chat>
        <app-chat></app-chat>
        <app-chat></app-chat>
        <app-chat></app-chat>
    </div>
</div>