<div class="container">
    <div class="header">
        <div class="top">
            <span class="title">Chats</span>
            <i class="fa-sharp fa-regular fa-pen-to-square new"></i>
        </div>
        <div class="bottom">
            <input type="text" placeholder="Search or start a new chat">
        </div>
    </div>
    <div class="chats">
        @for(chat of chats; track chat.name){
            <app-chat (click)="showChat(chat)" class="chat" [chat]="chat"></app-chat>
        }
    </div>
</div>