.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 9%;
    position: sticky;
    background-color: var(--light-roof);
    border-bottom: 1px solid rgb(170, 168, 168);
    z-index: 990;
    width: 100%;
    top: 0;
}
.left{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: start;
    gap: 4px;
    padding-left: 10px;
    flex: 2;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.mobileBack{
  font-size: 20px;
  cursor: pointer;
  padding: 0px;
  display: none;
  margin-left: -5px;
}
  .chat-image{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
}
.chat-name{
    display: flex;
    flex-direction: column;
    // gap: 2px;      
}
.name{
     cursor: pointer;
    font-size: var(--fs-l);
    font-weight: 800;
  }
  .name-space{
    flex: 1;
  }
  .last-message{
    font-style: italic;
    font-size: var(--fs-xs);
  }
  .right{
    display: flex;
    font-size: var(--fs-xxm);
    align-items: center;
    height: 100%;
    width: 30px;
    justify-content: end;
}
.menu-container{
  width: 200px;
  font-size: var(--fs-l);
  position: relative;
}
.menu-toggler{
  padding: 10px;
}
.menu{
  min-width: 150px;
  background-color: #333;
  color: white;
  box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
  position: absolute;
  top: 40px;
  right: 9px;
  border-radius: 10px;
}

.menu-item{
  background-color: var(--light-roof);
    padding: 10px;
    color: var(--black-alpa);
    cursor: pointer;
    font-size: var(--fs-m);
}
.menu-item:hover{
  background-color: var(--dark-roof);
  color: white;
}
.more{
    cursor: pointer;
    font-size: var(--fs-l);
  }

.search-container{
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  position: relative;
}
.search-container .back-icon{
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-controls{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.search-controls i{
  cursor: pointer;
}
.search-controls i:hover{
  color: var(--dark-roof);
}
.back-icon i{
  font-size: var(--fs-l);  
  cursor: pointer;
}
.back-icon i:hover{
  color: white;
}
.search-container input{
  width: 88%;
  padding-top: 10px;
  height: 60%;
  font-size: var(--fs-m);
  background-color: var(--light-roof);
  border-bottom: 2px solid var(--dark-roof);
}
.search-container input:focus{
  outline: none;
}
.search-container .not-found{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 13px;
  padding: 5px;
  right: 45%;
  top: 50px;
  border-radius: 10px;
}

.select-option-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.select-option-left{
  display: flex;
  gap: 10px;
}
.select-option-left .back-icon{
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.select-option-left .select-count{
  font-size: var(--fs-l);
}
.back-icon i{
  font-size: var(--fs-l);  
  cursor: pointer;
}
.back-icon i:hover{
  color: white;
}
.select-option-right{
  display: flex;
  gap: 20px;
  padding-right: 10px;
}
.right-items{
  width: 30px;
  display: flex;
  align-items: center;
  border: 1px solid var(--dark-roof);
  border: 5px;
  height: 30px;
}
.right-items i{
  color: var(--dark-roof);
  cursor: pointer;
  font-size: var(--fs-l);
}
.right-items i:hover{
  color: var(--mid-roof);
}

  .view{
    background-image: url("/assets/chatbgd.png");
    background-size: cover;
    width: 100%;
    height: 84.5%;
    box-shadow: inset 0 0 10px gray;
    overflow-y: auto;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    display: flex;
    align-items: start;
    justify-content: center;
}
.view::-webkit-scrollbar {
  display: none;
}
.message-area{
    width: 97%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}


.date-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px 10px 0px;
}
.date{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.date span{
  color: var(--dark-roof);
  font-size: var(--fs-xm);
  padding: 5px;
}
  .send-container{
    height: 6%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    // overflow: hidden;
    // clip-path: inset(-10vw 0 0vw 0); 
    
  }
  .send{
    width: 95%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-paperclip{
  transform:rotate(-44deg);
  cursor: pointer;
}
.fa-paperclip:hover{
  color: gray;
}
.fa-paper-plane{
  transform:rotate(50deg);
  font-weight: 100;
}
.fa-paper-plane:hover{
  color: gray;
}
.attach{
  position: relative;
  width: 30px;  
  display: flex;
  align-items: center;
  justify-content: center;
}
.send-menu{
  box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 10px;
  bottom: 35px;
  left: -20px;
  display: flex;
  flex-direction: column;
  z-index: 700;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 170px;
  background-color: var(--light-roof);
  padding: 6px 0px 6px 0px ;
}
.send-menu-item{
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 5px;
  padding: 2px;
}
.send-menu-item:hover {
  background-color: var(--mid-roof);
}
.send-menu-icon{
  width: 40px;
  box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.send-menu-item:nth-child(2) .send-menu-icon{
  background-color: rgb(55, 38, 82);
}
.send-menu-item:nth-child(1) .send-menu-icon{
  background-color: rgb(66, 31, 66);
}
.send-menu-item:nth-child(3) .send-menu-icon{
  background-color: rgb(93, 28, 54);
}
.send-menu-icon i{
  color: white;
}
.send-menu-name{
  width: 110px;
  display: flex;
  font-size: var(--fs-m);
  align-items: start;
}
.emoji-container{
  position: relative;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 8px;
}
.emoji-container i{
  font-size: var(--fs-l);
  cursor: pointer;
}
.emoji-container i:hover{
  color: gray;
}
.emoji-container emoji-mart{
  position: absolute;
  bottom: 35px;
  left: 5px;
  z-index: 700;
}
app-send-file{
  box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
  position: absolute;
  border-radius: 10px;
  bottom: 0px;
  left: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-roof);
  padding: 6px 0px 6px 0px ;
  z-index: 800;
}



.input{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 5px;
    padding-left: 10px;
    position: relative; 
  }
  .form-input{
    width: 100%;
    position: relative;
  }
  input{
    width: 100%;
    background-color: var(--light-roof);
    height: 100%;
    border-radius: 5px;
    border: none;
    height: 100%;
    font-size: var(--fs-m);
  }
  .input input:focus{
    outline: none;
  }
  .button{
    display: flex;
    justify-content: end;
    height: 100%;
  }
  button{
    border: none;
    border-radius: 20px;
    background-color:var(--light-roof);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button span{
    font-size: var(--fs-xl);
    color: black;
    font-weight: 500;
  }
  .fa-location-arrow{
    font-size: var(--fs-xxl);
    transform:rotate(45deg);
    cursor: pointer;
  }
  .fa-location-arrow:hover{
    color: white;
  }
  .fa-microphone{
    cursor: pointer;
    font-size: calc(var(--fs-l) + 2px)
  }
  @keyframes pop-in {
    0% {
      transform: scale(1.3);
    }
    50% {
      transform: scale(1.5);
      color: red;
    }
    100% {
      transform: scale(1.3);
    }
  }

  .audio-container{
    position: relative;
    display: contents;
  }

  .mic-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 50px;
    width: 100px;
    height: 100px;
    background-color: var(--mid-roof);
    position: absolute;
    right: -40px; 
    box-shadow: 0px 0px 20px 9px rgba(0,0,0,0.1);   
    z-index: 500;
  }
  
  
  .animate-mic{
    animation: pop-in 1s infinite;
    margin-bottom: 13px;
  }
  // .progress {
  //   position: absolute;
  //   top: 45%;
  //   left: 45%;
  //   background-color: #080808;
  //   border-radius: 0.25rem;
  //   display: flex;
  //   font-size: 1.2rem;
  //   height: 2rem;
  //   margin-top:1rem;
  //   overflow: hidden;
  // }
  
  // .progress-bar {
  //   align-items: center;
  //   background-color: #007bff;
  //   color: #fff;
  //   display: flex;
  //   justify-content: center;
  // }
  app-audio-record{
    right: -40px;
    position: absolute;
  }

  app-message{
    position: relative;
    display: inline-block;
  }
  app-forward-message{
    position: absolute;
    top: 50%;
    left: 35%;
    width: 30%;
    z-index: 200;
    box-shadow: 0px 0px 19px 5px rgba(122, 122, 122, 0.1); 
    margin: auto;
    transform: translateY(-50%);
  }
  app-parent-message{
    background-color: var(--light-roof);
    position: absolute;
    bottom: 32px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    z-index: 210;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
  }
  app-edit-message{
    background-color: var(--mid-roof);
    position: absolute;
    bottom: 32px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
  }
  .disabled {
    cursor: none;
    opacity: .5;
    pointer-events: none;
  }

  @media screen and (max-width: 1024px){
    app-forward-message{
      left: 28%;
      width: 40%;
    }
  }
  @media screen and (max-width: 800px){
    app-forward-message{
      left: 18%;
      width: 60%;
    }
  }

  @media screen and (max-width: 700px){
    .chat-image{
      width: 40px;
      height: 40px;
    }
    app-forward-message{
      left: 10%;
      width: 75%;
    }
    .name{
      cursor: pointer;
      font-size: var(--fs-m);
      font-weight: 800;
   }
   .emoji-container emoji-mart{
    width: 50px;
   }
   .search-container .not-found{
    right: 40%;
  }
  }
  @media screen and (max-width: 500px){
    .mobileBack{
      display: block;
    }
    app-forward-message{
      left: 5%;
      width: 85%;
    }
  }