<div class="header">
    @switch (headerContent) {
        @case ("search") {
            <div class="search-container">
                <div class="back-icon">
                    <i class="fa-solid fa-arrow-left" (click)="backSearch()"></i>
                </div>
                <input type="text" placeholder="Search..." #searchInput (input)="searchMessage($event)">
            </div>
        }
        @case ("select") {
            <div class="select-option-container">
                <div class="select-option-left">
                    <div class="back-icon">
                        <i class="fa-solid fa-arrow-left" (click)="backSelect()"></i>
                    </div>
                    <div class="select-count">
                            <span>{{selectedList.length}} selected</span>
                    </div>                
                </div>
                <div class="select-option-right">
                    @if (!isCurrentUserPastParticipant) {
                        <div class="right-items" >
                            <i title="Star" class="fa-regular fa-star" (click)="starMessages()" [class.disabled]="selectedList.length===0"></i>
                        </div>
                    }
                    <div class="right-items">
                        <i  title="Delete" class="fa-solid fa-trash" (click)="deleteMessages()" [class.disabled]="selectedList.length===0"></i>
                    </div>
                    <div class="right-items">
                        <i title="Forward" class="fa-solid fa-share" (click)="forwardMessages()" [class.disabled]="selectedList.length===0"></i>
                    </div>
                </div>
            </div>
        }
        @default {
            <div class="left">
                <i class="fa-solid fa-arrow-left mobileBack" (click)="mobileBack()"></i>
                <img [src]="currentChatPic ? currentChatPic : 'https://www.shutterstock.com/image-vector/user-icon-trendy-flat-style-260nw-418179865.jpg'" class="chat-image" (click)="viewProfile()">
                <div class="chat-name" (click)="viewProfile()">
                    <span class="name name-space">
                        @if(currentChat){
                            {{currentChat.name}}
                        }
                    </span>
                    @if (currentChat.type === "room") {
                        <span class="last-message name-space">{{roomUsers}}</span>
                    }
                </div>
            </div>
            <div class="right">
                <div class="menu-container" style="display: flex;justify-content: center;flex-direction: column;align-items: end;" appClickOutside (clickOutside)="clickedOutsideMenu()">
                    <div class="menu-icon">
                        <i class="menu-toggler fa-solid fa-ellipsis-vertical more" (click)="toggleMenu()"></i>
                    </div>
                    @if(isMenuOpened){
                        <div class="menu" style="width: 100%;" [@dropdownAnimation]>
                            <div class="menu-item" (click)="viewProfile()">View profile</div>
                            <div class="menu-item" (click)="openSearch()">Search</div>
                            <div class="menu-item">Report</div>
                            <div class="menu-item" [hidden]="isCurrentUserPastParticipant">Block</div>
                            <div class="menu-item" (click)="clearChat()">Clear chat</div>
                        </div>
                    }
                </div>
            </div>            
        }
    }
</div>
<div class="view" #scrollTarget (scroll)="onScroll()">
    <div class="message-area">
        @for(message of messageList; track $index;){
            @if (isDifferentDay($index)) {
                <div class="date-container">
                    <div class="date">
                        <span>{{getMessageDate($index)}}</span>
                    </div>
                </div>
            }
            <app-message [@popupAnimation] class="dropup"  [attr.id]="'message-' + message.id" [index]="$index" [isCurrentUserPastParticipant]="isCurrentUserPastParticipant" [showCheckBox]="showCheckBox" (forwardMssageEvent)="onForwardMessageEvent($event)" (showCheckBoxEvent)="onShowCheckBox($event)" (notifyCheckedMssageEvent)="onMessageChecked($event)" (notifyUnCheckedMssageEvent)="onMessageUnChecked($event)" [message]="message" (deleteSuccessEvent)="onDeleteSuccess($event)" (replyMessageEvent)="onReplyMessage($event)" (editMessageEvent)="onEditMessage($event)"></app-message>
        }
    </div>
</div>
<div class="send-container">
    <div class="send">
        @if (isCurrentUserPastParticipant) {
            <span>You can't send messages to this room because you're no longer a member.</span>            
        }@else {
            <div class="emoji-container" appClickOutside (clickOutside)="clickedOutsideEmoji()">
                <i class="fa-regular fa-face-smile" (click)="toggleEmoji()"></i>
                @if (isEmojiOpened) {
                    <emoji-mart [style]="{ width: 'unset' }" [@dropupAnimation] (emojiClick)="addEmoji($event)"></emoji-mart>
                }
            </div>
            <div class="attach" appClickOutside (clickOutside)="clickedOutsideAttach()">
                <i class="fa-solid fa-paperclip" (click)="toggleSendMenu()"></i>
                @if (isSendMenuOpen) {
                    <div class="send-menu" [@dropupAnimation]>
                        <label class="send-menu-item">
                            <div class="send-menu-icon">
                                <i class="fa-solid fa-file"></i> 
                            </div>
                            <div class="send-menu-name">
                                <span>Document</span>
                            </div>
                            <input type="file" id="file-document" style="display: none" (change)="onFilechange($event)" name="document" accept=".doc, .docx, .pdf, .txt" multiple="" data-original-title="upload document">   
                        </label>
                        <label class="send-menu-item">
                            <div class="send-menu-icon">
                                <i class="fa-solid fa-image"></i>  
                            </div>
                            <div class="send-menu-name">
                                <span>Photo</span>
                            </div>
                            <input type="file" id="file-photo" style="display: none" (change)="onFilechange($event)" name="photo" accept="image/gif,image/jpeg,image/jpg,image/png" multiple="" data-original-title="upload photos">   
                        </label>
                        <label class="send-menu-item">
                            <div class="send-menu-icon">
                                <i class="fa-solid fa-video"></i>
                            </div>
                            <div class="send-menu-name">
                                <span>Video</span>
                            </div>
                            <input type="file" id="file-video" style="display: none" (change)="onFilechange($event)" name="video" accept="video/*" multiple="" data-original-title="upload videos">   
                        </label>
                    </div>
                }
                @if (showSendFilePreview) {
                    <app-send-file [fileType]="fileType" [parentMessage]="parentMessage" [selectedFiles]="selectedFiles" [files]="images" [documents]="documents" [@popupAnimation] [currentChat]="currentChat" (fileSendSuccessEvent)="onFileSendSuccess($event)" (closeSendFileEvent)="onCloseSendFileEvent($event)" appClickOutside (clickOutside)="clickedOutsideSendFile()"></app-send-file>
                }
            </div>
            <form [formGroup]="messageForm" class="input" (ngSubmit)="sendMessage()" >
                <div class="form-input">
                    @if(parentMessage){
                        <app-parent-message [@dropupAnimation] [message]="parentMessage" (closeEvent)="onCloseParentEvent($event)"></app-parent-message>
                    }@else if (editMessage) {
                        <app-edit-message [@dropupAnimation] [message]="editMessage" (closeEvent)="onCloseEditEvent($event)"></app-edit-message>
                    }                
                    <input [class.disabled]="showSendFilePreview" formControlName="content" type="text" placeholder="Type a message" #sendInput>
                </div>                
                <button [class.disabled]="showSendFilePreview" type="submit">
                    <span class="material-symbols-outlined">
                        send
                    </span>
                </button>
            </form>
        }        
    </div>
</div>
@if(isForwardOpened){
    <app-forward-message (forwardSubmitEvent)="onForwardSumbit($event)" (forwardCancelEvent)="onForwardCancel($event)"></app-forward-message>
}