<div class="header">
    @if(!isSearchOpened){
        <div class="left" (click)="viewProfile()">
            <img [src]="currentChatPic ? currentChatPic : 'https://www.shutterstock.com/image-vector/user-icon-trendy-flat-style-260nw-418179865.jpg'" class="chat-image">
            <div class="chat-name">
                <span class="name name-space">
                    @if(currentChat){
                        {{currentChat.name}}
                    }
                </span>
                <span class="last-message name-space"></span>
            </div>
        </div>
        <div class="right">
            <div class="menu-container" style="display: flex;justify-content: center;flex-direction: column;align-items: end;">
                <div class="menu-icon">
                    <i class="menu-toggler fa-solid fa-ellipsis-vertical more" (click)="toggleMenu()"></i>
                </div>
                @if(isMenuOpened){
                    <div class="menu" style="width: 100%;">
                        <div class="menu-item" (click)="viewProfile()">View profile</div>
                        <div class="menu-item" (click)="openSearch()">Search</div>
                        <div class="menu-item">Report</div>
                        <div class="menu-item">Block</div>
                        <div class="menu-item">Clear chat</div>
                    </div>
                }
            </div>
        </div>
    }@else{
        <div class="search-container">
            <div class="back-icon">
                <i class="fa-solid fa-arrow-left" (click)="backSearch()"></i>
            </div>
            <input type="text" placeholder="Search..." #searchInput (input)="searchMessage($event)">
        </div>
    }
</div>
<div class="view" #scrollTarget>
    <div class="message-area">
        @for(message of messageList; track message.id){
            @if (isDifferentDay($index)) {
                <div class="date-container">
                    <div class="date">
                        <span>{{getMessageDate($index)}}</span>
                    </div>
                </div>
            }
            <app-message class="dropup" [showCheckBox]="showCheckBox" (showCheckBoxEvent)="onShowCheckBox($event)" [message]="message" (deleteSuccessEvent)="onDeleteSuccess($event)" (replyMessageEvent)="onReplyMessage($event)" (editMessageEvent)="onEditMessage($event)"></app-message>
        }
    </div>
</div>
<div class="send-container">
    <div class="send">
        <form [formGroup]="messageForm" class="input" (ngSubmit)="sendMessage()">
            <div class="form-input">
                @if(parentMessage){
                    <app-parent-message [message]="parentMessage" (closeEvent)="onCloseParentEvent($event)"></app-parent-message>
                }@else if (editMessage) {
                    <app-edit-message [message]="editMessage" (closeEvent)="onCloseEditEvent($event)"></app-edit-message>
                }
                
                <input formControlName="content" type="text" placeholder="Type a message" #sendInput>
            </div>
            <button type="submit">send</button>
        </form>
    </div>
</div>