.nav{
    display: flex;
    height: 100%;
    background-color: var(--black-alpa);
    flex-wrap: wrap;
    width: 100%;
    position: sticky;
    z-index: 999;
}
.left{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right{
    flex: 2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.nav-title{
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: 'REM', sans-serif;
    cursor: pointer;
}
.nav-items{
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-right: 100px;
}
.nav-item{
    cursor: pointer;
}
.nav-user{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.nav-user > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.logout-button{
    border-radius: 5%;
    border: none;
    height: 30px;
    cursor: pointer;
}
