.nav{
    display: flex;
    height: 60px;
    background-color: rgb(147, 122, 167);
    flex-wrap: wrap;
}
.left{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right{
    flex: 2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.nav-title{
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: 'REM', sans-serif;
    cursor: pointer;
}
.nav-items{
    color: white;
    font-size: 20px;
    display: flex;
    gap: 25px;
    margin-right: 20px;
}
