.group{
    width: 90%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.group:hover{
    background-color: var(--light-roof);
    color: var(--dark-base);
}
.group:hover .icon-area{
    background-color: var(--dark-base);
    color: var(--light-roof);
}
.group:hover i{
    color: var(--light-roof);
}
.group-icon{
    flex: 1;
}
.group-icon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.group-icon i{
    color: var(--dark-base);
}
.group-icon img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);

}
.icon-area{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--light-roof);
}
.group-items{
    flex: 9;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
}
.group-items span:nth-child(1){
    font-size: 17px;
}
.group-items span:nth-child(2){
    font-size: 10px;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}
.group-admin{
    margin-right: 10px;
    padding: 3px;
    font-size: 10px;
}

.clicked{
    background-color: var(--light-roof);
    color: black;
}
.options-container{
    position: absolute;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
    bottom: 65px;
    background-color: var(--light-roof);
    width: 35%;
    border-radius: 10px;
    left: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.options{
    width: 95%;
    padding: 5px 0px 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 3s;
}
.option{
    padding: 15px 0px 15px 0px;
    display: flex;
    width: 100%;
    gap: 5px;
    color: black;
    justify-content: space-between;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--light-roof);
    
}
.option:hover{
    background-color: var(--mid-roof);
}
.option .option-icon{
    position: relative;
    width: 10%;
    display: flex;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: var(--dark-roof);
}
.option-icon .fa-shield-halved{
     position: absolute;
     right: 3px;
     font-size: 7px;
}
.option .option-title{
    width: 80%;
    display: flex;
    font-size: 13px;
    align-items: center;
    justify-content: start;
}