<div class="items">
    <div class="left">
        <img [src]="profilePic ? profilePic : 'https://www.shutterstock.com/image-vector/user-icon-trendy-flat-style-260nw-418179865.jpg'" class="chat-image">
        <div class="chat-name">
            <span class="name name-space">{{chat.name}}</span>
            <span class="last-message name-space">sdfew</span>
        </div>
    </div>
    <div class="right">
        <div class="time">{{lastMessageTime}}</div>
        <div class="count"></div>
    </div>
</div>

