
.items{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 65px;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--light-roof);
    color: var(--black-alpa);
    border: 1px solid var(--light-roof);
    // border-top: 0.5px solid var(--dark-roof);
    // border-bottom: 0.5px solid var(--dark-roof);

  }
  .items:hover{
    border: 1px solid white;
    background-color: var(--mid-roof);
  }
  .clicked{
    border: 1px solid white;
    background-color: var(--mid-roof);
  }
  .left{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-left:10px;
  }
  .chat-image{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
  }
  .chat-name{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .name{
    font-size: 14px;
    font-weight: 600;
  }
  .name-space{
    flex: 1;
  }
  .last-message{
    max-width: 200px;
    font-size: 14px;
    font-weight: 100;
    margin-top: -5px;
    color: rgb(56, 55, 55);
    white-space: nowrap;      /*keep text on one line */
    overflow: hidden;         /*prevent text from being shown outside the border */
    text-overflow: ellipsis;
  }
  .right{
    display: flex;
    flex-direction: column;
    gap:7px;
    padding-right: 10px;
    font-size: 10px;
    height: 60%;
  }
  .time{

    flex: 1;
}
.count{
    flex: 1;
  }