
.items{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 65px;
    align-items: center;
    cursor: pointer;
    background-color: var(--light-roof);
    color: var(--black-alpa);
    border: 1px solid var(--light-roof);
  }
  .items:hover{
    background-color: var(--mid-roof);
  }
  .clicked{
    background-color: var(--mid-roof);
    border: 0.5px solid var(--light-ruser);
  }
  .left{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
  }
  .chat-image{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
  }
  .chat-name{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc(100% - 75px);
    
  }
  .name{
    font-size: var(--fs-xm);
    font-weight: 600;
  }
  .name-space{
    flex: 1;
  }
  .last-message{
    font-size: var(--fs-xm);
    font-weight: 100;
    margin-top: -5px;
    color: rgb(56, 55, 55);
    width: 100%;
    overflow: hidden;
  }
  
  .last-message .lm-span{
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block; 
  
  }
  .right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .time{
    font-size: var(--fs-s);
}
  .latest_roomEvent{
    font-size: var(--fs-xm);
    font-style: italic;
    color: rgb(101, 101, 101);
  }
  @media screen and (max-width: 500px) {
    .left{
      gap: 5px;
    }
    .chat-image{
      width: 40px;
      height: 40px;
    }
    .name{
      font-size: var(--fs-xxm);
    }
    .last-message{
      font-size: var(--fs-xxm);
    }
    .items{
      height: 50px;
    }
    .time{
      font-size: var(--fs-xxs);
    }
    .latest_roomEvent{
      font-size: var(--fs-xxm);
    }
}