.user{
    display: flex;
    align-items: center;
    width: 50px;
    height: 60px;
    flex-direction: column;
    font-size: var(--fs-xxm);
    color: var(--dark-base);
}
.name{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
}
.name span{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.image{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
img:hover{
    box-shadow: 0px 0px 19px 5px rgba(122, 122, 122, 0.1); 
}