<div class="container">
    <div class="back">
        <i class="fa-solid fa-arrow-left" [routerLink]="'/home'"></i>
    </div>
    <div class="scroll-container">
        <div class="header container-items">
            <div class="left">
                <div class="image">
                    <img [src]="profilePic" alt="" class="profilePic" (click)="viewImage()" [style.view-transition-name]="'app-profile-img'">
                    <label class="upload-icon" [style.view-transition-name]="'app-profile-upload-icon'">
                        <i class="fa-solid fa-camera"></i>     
                        <input type="file" id="file" style="display: none" (change)="onFilechange($event)" name="image" accept="image/gif,image/jpeg,image/jpg,image/png" multiple="" data-original-title="upload photos">   
                    </label>
                </div>
            </div>    
            <div class="right">
                <hr>
                <div class="details">
                    <div class="items" [style.view-transition-name]="'app-profile-details-name'">
                        <div class="item">
                            <div class="item-icon">
                                <i class="fa-solid fa-user"></i>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-title">
                                <span>name</span>
                            </div>
                            <div class="item-content">
                                <span>{{currentUser.name}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="items" [style.view-transition-name]="'app-profile-details-bio'">
                        <div class="item">
                            <div class="item-icon">
                                <i class="fa-solid fa-circle-exclamation"></i>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-title">
                                <span>bio</span>
                            </div>
                            @if(editBioFlag){
                                <form class="item-content" [formGroup]="bioForm" action="" (ngSubmit)="updateBio()">
                                    <input type="text" class="bioInput" formControlName="bio" #bioInputField>
                                    <button type="submit" class="biosubmitButton"><i class="fa-solid fa-check"></i></button>
                                    <span class="cancelIcon"><i class="fa-solid fa-xmark" (click)="cancelBioEdit()"></i></span>
                                </form>
                            }@else {
                                <div class="item-content">
                                    <span class="bio">{{userBio}}</span>
                                    <span class="editIcon"><i class="fa-solid fa-pen" (click)="viewBioEdit()"></i></span>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="items" [style.view-transition-name]="'app-profile-details-phone'">
                        <div class="item">
                            <div class="item-icon">
                                <i class="fa-solid fa-phone"></i>
                            </div>
                        </div>
                        <div class="item" >
                            <div class="item-title">
                                <span>phone</span>
                            </div>
                            <div class="item-content">
                                <span>{{currentUser.phone_number}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="items" [style.view-transition-name]="'app-profile-details-email'">
                        <div class="item">
                            <div class="item-icon">
                                <i class="fa-solid fa-envelope"></i>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-title">
                                <span>email</span>
                            </div>
                            <div class="item-content">
                                <span>{{currentUser.email}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="other container-items">
            <div class="other-items">
                <app-profile-sidebar></app-profile-sidebar>
                <app-profile-view-content></app-profile-view-content>
            </div>
        </div>
    </div>
</div>
