<div class="container">
    <div class="scroll-container">
        <div class="header container-items">
            <div class="left">
                <div class="image">
                    <img [src]="profilePic ? profilePic : 'https://media.sproutsocial.com/uploads/2022/06/profile-picture.jpeg'" alt="" class="profilePic">
                    <i class="fa-solid fa-camera"></i>            
                </div>
            </div>    
            <div class="right">
                <hr>
                <div class="details">
                    <div class="items">
                        <span class="item"><i class="fa-solid fa-user"></i></span>
                        <div class="item center">
                            <span>name</span>
                            <span>{{currentUser.name}}</span>
                        </div>
                        <span class="item"></span>
                    </div>
                    <div class="items">
                        <span class="item"><i class="fa-solid fa-circle-exclamation"></i></span>
                        <div class="item">
                            <span>bio</span>
                            @if(currentUser.bio){
                                <span>{{currentUser.bio}}</span>
                            }@else {
                                <span>Hey! I am using ChatApp</span>   
                            }
                        </div>
                        <span class="item"><i class="fa-solid fa-pen"></i></span>
                    </div>
                    <div class="items">
                        <span class="item"><i class="fa-solid fa-phone"></i></span>
                        <div class="item">
                            <span>phone</span>
                            <span>{{currentUser.phone_number}}</span>
                        </div>
                        <span class="item"></span>
                    </div>
                    <div class="items">
                        <span class="item"><i class="fa-solid fa-envelope"></i></span>
                        <div class="item">
                            <span>email</span>
                            <span>{{currentUser.email}}</span>
                        </div>
                        <span class="item"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="other container-items">
            <div class="other-items">
                <app-profile-sidebar></app-profile-sidebar>
                <app-profile-view-content></app-profile-view-content>
            </div>
        </div>
    </div>
</div>
