@if (message.type !== 'roomEvent') {
<div class="container" [ngClass]="{'right' : message.sender_id===currentUserId}" (mouseover)="isOpened = true" (mouseleave)="isOpened = false">
    @if (showCheckBox) {
        <div class="select-message">
            <input #checkbox type="checkbox" name="" id=""  (change)="checkCheckBoxvalue($event)">
        </div>
    }
        <div class="message-container" (click)="showCheckBox && messageSelect()" [ngClass]="{'checkboxCSS' : showCheckBox}">
            @if(message.parent_message_id){
                <div class="parent-message">
                    <div class="parent-items">
                        <div class="parent-item">
                            <span>{{message.parent_message_id != currentUserId ? message.parent_message_sender : "You"}}</span>
                        </div>
                        <div class="parent-item">
                            @if (message.parent_message_type=="document") {
                                <span>
                                    @if (message.parent_message_content?.includes(".pdf")) {
                                        <i class="fa-regular fa-file-pdf"></i>
                                    }@else if (message.parent_message_content?.includes(".doc")) {
                                        <i class="fa-regular fa-file-word"></i>
                                    }@else {
                                        <i class="fa-regular fa-file"></i> 
                                    }
                                    {{message.parent_message_content}}
                                </span>
                            }@else if(message.parent_message_type == "image"){
                                <span><i class="fa-regular fa-image"></i> Photo</span>
                            }@else {
                                <span>{{message.parent_message_content}}</span>
                            }
                        </div>
                    </div>
                    @if(message.parent_message_type == "image"){
                        <div class="parent-items">
                            <img [src]="imageParentUrl" alt="">
                        </div>
                    }
                </div>
            }
            <div class="username">
                <div class="user-span">
                    @if (shouldDisplaySenderName(message.sender_name)) {
                        <span>{{message.sender_name}}</span>
                    }
                </div>
            </div>
            <div class="content">
                @if (message.type=="image") {
                    <div class="content-image">
                        <img (click)="!showCheckBox && viewImage()" [src]="imageUrl" alt="">
                    </div>
                }@else if(message.type=="document") {
                    <div class="doc-content" (click)="!showCheckBox && openDocument()">
                        <div class="items">
                            <div class="item">
                                @if (message.content.includes(".pdf")) {
                                    <i class="fa-regular fa-file-pdf"></i>
                                }@else if (message.content.includes(".doc")) {
                                    <i class="fa-regular fa-file-word"></i>
                                }@else {
                                    <i class="fa-regular fa-file"></i> 
                                }
                                <div class="doc-msg">
                                    <div class="doc-msg-item">
                                        <span>{{message.content}}</span>
                                    </div>
                                    @if (message.content.includes(".pdf")) {
                                        <span class="doc-msg-type">PDF</span>
                                    }@else if (message.content.includes(".doc")) {
                                        <span class="doc-msg-type">DOC</span>
                                    }@else if (message.content.includes(".txt")) {
                                        <span class="doc-msg-type">TXT</span>
                                    }@else {
                                        <span class="doc-msg-type"></span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @else{
                    <span>{{message.content}}</span>
                }
            </div>
            <div class="time">    
                @if(starredFlag){
                    <i class="fa-solid fa-star"></i>    
                }
                <span>{{sendTime}}</span>
            </div>
            @if(message.like_count){
                <div class="like" appClickOutside (clickOutside)="clickedOutsideLike()">
                    <i class="fa-solid fa-heart" (click)="!showCheckBox && LikedUsersToggle()"></i>
                    @if(message.like_count > 1){
                        <span>{{message.like_count}}</span>
                    }
                    @if(isLikedUsersOpened && likedUsers){
                        <div class="show-liked-users" [@dropdownAnimation]>
                            <div class="liked-users">
                                @for(user of likedUsers; track user.id){
                                    <div class="user">
                                        <img [src]="user.profile_pic ? 'http://localhost:8080/chatApi/v1/image/view/user_'+user.id+'/'+user.profile_pic : noUserPic" alt="">
                                        <div class="name">
                                            <span>{{user.name}}</span>
                                        </div>
                                        <i class="fa-solid fa-heart"></i>   
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    <div class="option-container">
        @if(isOpened && message.type !== 'roomEvent' && !showCheckBox){
            <div class="options" [@dropupAnimation]>
                @if (!isCurrentUserPastParticipant) {
                    <div class="option" ><i title="Like" class="fa-solid fa-heart" (click)="likeMessage()"></i></div>
                    <div class="option" ><i title="Reply" class="fa-solid fa-reply" (click)="replyMessage()"></i></div>
                    <div class="option" ><i title="Star" class="fa-regular fa-star" (click)="starMessage()"></i></div>
                    @if(message.sender_id === currentUserId && message.type == "text"){
                        <div class="option" ><i  title="Edit" class="fa-solid fa-pencil" (click)="editMessage()"></i></div>
                    }
                }
                <div class="option"><i  title="Delete" class="fa-regular fa-trash-can" (click)="deleteMessage()"></i></div>
                <div class="option"><i title="Forward" class="fa-solid fa-share" (click)="forwardMessage()" id="forwardIcon"></i></div>
                <div class="option"><i title="Select" class="fa-regular fa-square-check" (click)="checkMessage()"></i></div>
            </div>
        }
    </div>
</div>
}@else {
    <div class="centerInfo">
        <div class="roomInfo">
            <span>
                @if (message.sender_id==currentUserId) {
                    You
                }@else {
                    {{message.sender_name}}
                }
            </span>
            {{message.content}}
        </div>
    </div>
}