<div class="container" [ngClass]="{'right' : message.sender_id===currentUserId}">
    @if (showCheckBox) {
        <div class="select-message">
            <input type="checkbox" name="" id="" [checked]="isMessageChecked" (change)="checkCheckBoxvalue($event)">
        </div>
    }
    <div class="message-container">
        @if(message.parent_message_id){
            <div class="parent-message">
                <div class="parent-items">
                    <div class="parent-item">
                        <span>{{message.parent_message_id != currentUserId ? message.parent_message_sender : "You"}}</span>
                    </div>
                    <div class="parent-item">
                        <span>{{message.parent_message_content}}</span>
                    </div>
                </div>
            </div>
        }
        <div class="username">
            <div class="user-span">
                @if (shouldDisplaySenderName(message.sender_name)) {
                    <span>{{message.sender_name}}</span>
                }
            </div>
        </div>
        <div class="content">
            <span>{{message.content}}</span>
        </div>
        <div class="time">    
            @if(starredFlag){
                <i class="fa-solid fa-star"></i>    
            }
            <span>{{sendTime}}</span>
        </div>
        @if(message.like_count){
            <div class="like">
                <i class="fa-solid fa-heart" (click)="LikedUsersToggle()"></i>
                @if(message.like_count > 1){
                    <span>{{message.like_count}}</span>
                }
                @if(isLikedUsersOpened && likedUsers){
                    <div class="show-liked-users" [@dropdownAnimation]>
                        <div class="liked-users">
                            @for(user of likedUsers; track user.id){
                                <div class="user">
                                    <img [src]="user.profile_pic ? 'http://localhost:8080/chatApi/v1/image/view/'+user.profile_pic : noUserPic" alt="">
                                    <div class="name">
                                        <span>{{user.name}}</span>
                                    </div>
                                    <i class="fa-solid fa-heart"></i>   
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        }
    </div>
    <div class="option-container">
        <i class="show-options fa-solid fa-angle-up" [ngClass]="isOptionsOpened ? 'flipped' : 'non-flipped'" (click)="optionsToggle()"></i>
        @if(isOptionsOpened){
            <div class="options" [@dropupAnimation]>
                @if (!isCurrentUserPastParticipant) {
                    <div class="option" ><i title="Like" class="fa-solid fa-heart" (click)="likeMessage()"></i></div>
                    <div class="option" ><i title="Reply" class="fa-solid fa-reply" (click)="replyMessage()"></i></div>
                    <div class="option" ><i title="Star" class="fa-regular fa-star" (click)="starMessage()"></i></div>
                    @if(message.sender_id === currentUserId){
                        <div class="option" ><i  title="Edit" class="fa-solid fa-pencil" (click)="editMessage()"></i></div>
                    }
                }
                <div class="option"><i  title="Delete" class="fa-regular fa-trash-can" (click)="deleteMessage()"></i></div>
                <div class="option"><i title="Forward" class="fa-solid fa-share" (click)="forwardMessage()" id="forwardIcon"></i></div>
                <div class="option"><i title="Select" class="fa-regular fa-square-check" (click)="checkMessage()"></i></div>
            </div>
        }
    </div>
</div>