.container{
    width:fit-content;
    max-width: 50%;
    height: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    position: relative;
    color: var(--dark-base);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
    background-color: var(--light-roof);
}
.right{
    background-color: var(--mid-roof);
    float: right;
    color: var(--dark-base);
}
.right .username span{  
    display: none;
}
.right  .options{
    left: -100px;
}
.right .time{
    left: 2px;
    flex-direction: row-reverse;
}
.username{
    width: auto;
    margin-bottom: -5px;
    color: var(--dark-base);
    display: flex;
    gap: 10px;
    height: 17px;
    align-items: center;
    justify-content: space-between;
}
.username .show-options{
    cursor: pointer;
    font-size: 11px;
    transition: 0.3s;
}
.non-flipped{
    display: none;
}
.flipped {
    display:inline-block;
    transform: rotate(180deg);
}
.container:hover .username .show-options{
    display: inline-block;
}
.username span{
    font-size: 14px;
    font-weight: 700;
}
.content span{
    font-size: 14px;
}
.content{
    min-height: 15px;
    min-width: 80px;
    word-break: break-word;
    width: auto;
    margin-bottom: 5px;
}
.time{
    position: absolute;
    right: 2px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 3px;
    bottom: 0px;
    padding-bottom: 2px;
}
.time span{
    font-size: 8px;
}
.time i{
    font-size: 8px;
    color: var(--dark-roof);
}
.like{
    position: absolute;
    bottom: -5px;
    background-color: white;
    padding: 0px 5px 0px 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.right .like{
    right: 0px;
}
.like i{
    font-size: 13px;
    color: red;
    cursor: pointer;
}
.like span{
    font-size: 12px;
}

.show-liked-users{
    position: absolute;
    width: 180px;
    left: 0px;
    top: 15px;
    background-color: white;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right .show-liked-users{
    left: -150px;
    top: 16px;
}
.liked-users{
    width: 95%;
    height: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    padding: 10px 0px 10px 0px;
    gap: 5px;
}
.liked-users .user{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user .name{
    color: black;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.liked-users img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.user .name span:first-child{
    font-size: 13px;
    padding-bottom: 7px;
    padding-left: 5px;
}
.user .name span:last-child{
    font-size: 10px;
}
.option-container{
    position: relative;
    width: 5px;
    padding-right: 5px;
}
.options{
    z-index: 200;
    position: absolute;
    bottom: 20px;
    left: -75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    gap: 15px;
    background-color: white;
    height: 40px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.1);
    min-width: 160px;
}
.option{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
}
.option:hover{
    font-size: 20px;
}
.option .fa-heart{
    color: red;
}
.option .fa-star{
    color: blue;
}
.option .fa-trash-can{
    color: rgb(122, 46, 46);
}
.option .fa-square-check{
    color:green;
}
.option .fa-reply{
    color:var(--dark-roof);
}

.parent-message{
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    word-break: break-word;
    justify-content: space-between;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
    padding-bottom: 2px;
  }
  .parent-items{
    background-color: var(--mid-roof);
    width: 100%;
    border-left: 5px solid var(--dark-roof);
    display: flex;
    align-items: center;
    padding-left: 2px;
    gap: 2px;
    flex-direction: column;
    box-shadow: inset 0 0 1px #505050;
    border-radius: 5px;
  }
  .parent-item{
    width: 98%;
    display: flex;
    justify-content: start;
  }
  .parent-item:first-child span{
    font-size: 13px;
    font-weight: 700;
  }
  .parent-item:last-child span{
    font-size: 11px;
    font-weight: 500;
  }