<div class="container">
    <div class="top">
        <div class="top-title">
            <span>Send File</span>
        </div>
        <div class="top-cancel">
            <i class="fa-solid fa-xmark" (click)="closeSendFile()"></i>
        </div>
    </div>
    <div class="middle">
        <div class="file-container">
            @if(files.length!=0){
                @for (file of files; track $index) {
                    <div class="file">
                        @if (file.type.includes("image")) {
                            <img [src]="file.file" alt="">
                        }@else {
                            <div class="doc-view">
                                <div class="doc-icon">
                                    @if(file.type == "text/plain"){
                                        <i class="fa-solid fa-file-lines"></i>
                                    }@else if(file.type == "application/pdf") {
                                        <i class="fa-solid fa-file-pdf"></i>
                                    }@else {
                                        <i class="fa-solid fa-file-word"></i>
                                    }
                                </div>
                                <div class="doc-meta">
                                    <span>{{file.name}}</span>
                                    <span>{{file.size}}
                                    </span>
                                </div>
                            </div>
                        }
                        <div class="trash">
                            <i class="fa-regular fa-trash-can" (click)="removeFile($index)"></i>
                        </div>
                    </div>
                }
            }@else {
                @for (document of documents; track $index) {
                    <div class="file">
                        <div class="trash">
                            <i class="fa-regular fa-trash-can" (click)="removeFile($index)"></i>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="bottom">
        <label class="bottom-left">
            <i class="fa-solid fa-plus"></i>
            @if (isFileTypeImage) {
                <input type="file" id="file-photo" style="display: none" (change)="onFilechange($event)" name="photo" accept="image/gif,image/jpeg,image/jpg,image/png" multiple="" data-original-title="upload photos">   
            }@else {
                <input type="file" id="file-document" style="display: none" (change)="onFilechange($event)" name="document" accept=".doc, .docx, .pdf, .txt" multiple="" data-original-title="upload document">   
            }
        </label>
        <div class="bottom-right">
            <i class="fa-regular fa-paper-plane" (click)="sendFile()"></i>
        </div>
    </div>
</div>
