<div class="container">
    <div class="items">
        <div class="item">
            <div class="header">
                <span>Create Room</span>
            </div>
        </div>
        <div class="item">
            <div class="create-form">
                <form [formGroup]="createRoomForm" action="" class="roomCreateForm" (ngSubmit)="OnSubmit()">
                    <div class="form-top">
                        <div class="left">
                            <div class="name-input">
                                <label for="">Room name:</label>
                                <input type="text" formControlName="name">
                                    @if(submitted){
                                        @if(createRoomForm.controls["name"].invalid && createRoomForm.controls["name"].dirty || createRoomForm.controls["name"].touched){
                                            <div class="error">
                                                @if(createRoomForm.controls["name"].errors?.['required']){
                                                    This field is required.
                                                }
                                            </div>
                                        }
                                    }
                                    @if(!createSuccess){
                                        <div class="error">
                                            {{errorMessage}}
                                        </div>
                                    }
                            </div>
                            <div class="desc-input">
                                <label for="">Room description:</label>
                                <input type="text" formControlName="desc">
                            </div>
                        </div>
                        <div class="right">
                            <div class="image">
                                <img [src]="imageSrc || noRoomPic" alt="" class="profilePic">
                                <label class="upload-icon">
                                    <i class="fa-solid fa-camera"></i>     
                                    <input type="file" id="file" style="display: none" name="image" accept="image/gif,image/jpeg,image/jpg,image/png" multiple="" data-original-title="upload photos" (change)="onFileChange($event)">   
                                </label>
                            </div>
                            <label for="">Choose picture:</label>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <div class="add-member">
                            <app-search-users (itemsChanged)="onItemsChanged($event)"></app-search-users>
                        </div>
                        <div class="form-buttons">
                            <button class="cancel" type="reset" (click)="cancelRoomCreate()">cancel</button>
                            <button class="create" type="submit">create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>