
.container{
    width: 60%;
    height: 90%;
    background-color: var(--dark-base);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
}
.items{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 95%;
    flex-direction: column;
}
.item{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.item:first-child{
    font-size: 24px;
    height: 15%;
    align-items: start;
}
.item:last-child{
    height: 85%;
    align-items: center;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
}
.create-form{
    display: flex;
    width: 100%;
    height: 95%;
}
.roomCreateForm{
    display: flex;
    border-radius: 10px;
    background-color: #bebacf;
    width: 100%;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
    flex-direction: column;
    height: 100%;
}
.form-top{
    display: flex;
    width: 100%;
    flex: 40%;
}
.form-bottom{
    display: flex;
    width: 100%;
    max-height: 300px;
    flex: 60%;
    flex-direction: column;
    padding-bottom: 10px;
}
.form-top .left{
    flex: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: var(--dark-base);
    font-weight: 800;
}
.form-top .right{
    flex: 1;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
}
.name-input{
    width: 90%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.desc-input{
    width: 90%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.roomCreateForm input{
    border: none;
    width: 80%;
    height: 30px;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 0px 0px 19px 5px rgba(122, 122, 122, 0.1);
}
.left input:focus{
    outline: none;
}
.error{
    color: rgb(163, 94, 94);
    font-size: 10px;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    gap: 10px;
    
}
.right{
    color: var(--dark-base);
    font-weight: 800;
}
.right img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit:cover;
    cursor: pointer;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
}
.upload-icon{
    position: absolute;
    background-color: var(--light-roof);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    bottom: 4px;
    right: 5px;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
    cursor: pointer;
}
.upload-icon i{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 100%;
    font-size: 20px;
    color: var(--dark-base);
}
.upload-icon :hover{
    background-color: var(--darkx-base);
}
.upload-icon:hover i{
    background-color: var(--dark-base);
    color: var(--light-roof);
}
.add-member{
    flex: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-buttons{
    flex: 15%;
    display: flex;
    justify-content: end;
    gap: 20px;
    align-items: center;
    padding-right: 10px;
}
.form-buttons button{
    width: 100px;
    border: none;
    height: 40px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.create{
    background-color: var(--dark-base);
}
.cancel{
    background-color: rgb(216, 215, 215);
    color: black;
}
app-search-users{
    border-top: 0.5px solid #bebacf;
    width: 95%;
    height: 100%;
}


