<div class="container">
    <div class="items">
        <div class="item">
            <div class="header">
                <span>{{title}}</span>
                <div class="form-buttons">
                    <button class="create" form="create-room" type="submit">create</button>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="create-form">
                <form [formGroup]="createRoomForm" action="" class="roomCreateForm" id="create-room" (ngSubmit)="OnSubmit()">
                    <div class="form-top">
                        <div class="left">
                            <div class="name-input">
                                <label for="">Room name:</label>
                                <div class="input-with-emoji">
                                    <input type="text" formControlName="name" #roomNameField>
                                    <div class="emoji-container" appClickOutside (clickOutside)="clickedOutsideEmoji()">
                                        <i class="fa-regular fa-face-smile" (click)="toggleEmoji()"></i>
                                        @if (isEmojiOpened) {
                                            <emoji-mart [style]="{ width: 'unset' }" [@dropdownAnimation] (emojiClick)="addEmoji($event)"></emoji-mart>
                                        }
                                    </div>
                                </div>
                                    @if(submitted){
                                        @if(createRoomForm.controls["name"].invalid && createRoomForm.controls["name"].dirty || createRoomForm.controls["name"].touched){
                                            <div class="error">
                                                @if(createRoomForm.controls["name"].errors?.['required']){
                                                    This field is required.
                                                }@else if (createRoomForm.controls["name"].errors?.['maxlength']) {
                                                    Maximum length must be less than 40 characters.
                                                }
                                            </div>
                                        }
                                    }
                                    @if(!createSuccess){
                                        <div class="error">
                                            {{errorMessage}}
                                        </div>
                                    }
                            </div>
                            <div class="desc-input">
                                <label for="">Room description:</label>
                                <input type="text" formControlName="desc">
                            </div>
                        </div>
                        <div class="right">
                            <div class="image">
                                <img [src]="imageSrc || noRoomPic" alt="" class="profilePic">
                                <label class="upload-icon">
                                    <i class="fa-solid fa-camera"></i>     
                                    <input type="file" id="file" style="display: none" name="image" accept="image/gif,image/jpeg,image/jpg,image/png" multiple="" data-original-title="upload photos" (change)="onFileChange($event)">   
                                </label>
                            </div>
                            <label for="">Choose picture:</label>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <div class="add-member">
                            <app-search-users [preSelectedUser]="createWithUser" (itemsChanged)="onItemsChanged($event)"></app-search-users>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>