
.container{
    width: 450px;
    height: 380px;
    background-color: var(--mid-roof);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    color: var(--black-alpa);
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
}
.items{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 95%;
    flex-direction: column;
}
.item{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.item:first-child{
    font-size: var(--fs-l);
    height: 15%;
    
}
.item .header{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.item:last-child{
    height: 85%;
    align-items: center;
    box-shadow: 0px 0px 50px -29px rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: var(--light-roof);
}
.create-form{
    display: flex;
    width: 100%;
    height: 95%;
}
.roomCreateForm{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
}
.form-top{
    display: flex;
    width: 100%;
    flex: 40%;
}
.form-bottom{
    display: flex;
    width: 100%;
    // max-height: 300px;
    // flex: 40%;
    flex-direction: column;
}
.form-top .left{
    flex: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: var(--dark-base);
    font-weight: 800;
}
.form-top .right{
    flex: 1;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
}
label{
    font-size: var(--fs-xxm);
}
.name-input{
    width: 90%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.desc-input{
    width: 90%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.roomCreateForm input{
    border: none;
    background-color: var(--light-roof);
    width: 80%;
    border-bottom: 1px solid var(--darkx-base);
    height: 25px;
    font-size: var(--fs-m);
}
.left input:focus{
    outline: none;
}
.error{
    color: rgb(163, 94, 94);
    font-size: var(--fs-s);
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    gap: 10px;
    
}
.right{
    color: var(--dark-base);
    font-weight: 800;
}
.right img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit:cover;
    cursor: pointer;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
}
.upload-icon{
    position: absolute;
    background-color: var(--light-roof);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    bottom: 2px;
    right: 2px;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
    cursor: pointer;
}
.upload-icon i{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 100%;
    font-size: var(--fs-m);
    color: var(--dark-base);
}
.upload-icon :hover{
    background-color: var(--darkx-base);
}
.upload-icon:hover i{
    background-color: var(--dark-base);
    color: var(--light-roof);
}
.add-member{
    flex: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-buttons{
    flex: 15%;
    display: flex;
    justify-content: end;
    gap: 20px;
    align-items: center;
    padding-right: 10px;
}
.form-buttons button{
    width: 80px;
    border: none;
    height: 30px;
    font-size: var(--fs-xxm);
    border-radius: 5px;
    cursor: pointer;
}


.create{
    color: var(--light-roof);
    background-color: var(--black-alpa);
}
.create:hover{
    background-color: var(--light-roof);
    color: var(--black-alpa);
}
app-search-users{
    width: 95%;
    height: 100%;
}


