.container{
    width: 100%;
    height: 100%;
    background-color: var(--mid-roof);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
}
.items{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 95%;
    flex-direction: column;
}
.item{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    
}
.item:first-child{
    font-size: var(--fs-xl);
    height: 15%;
    padding: 5px;
    align-items: start;
}
.item:last-child{
    height: 85%;
    align-items: center;
    background-color: var(--light-roof);
    border-radius: 10px;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
}
.join-form{
    display: flex;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.top{
    width: 95%;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    
}
.joinError{
    height: 20%;
    color: rgb(172, 46, 46);
    display: flex;
    align-items: center;
    // margin-bottom: -20px;
}
.input{
    height: 50%;
    width: 80%;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input input{
    border: none;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
    width: 90%;
    border-radius: 10px;
    height: 50%;
    font-size: var(--fs-l);
}
.input i{
    font-size: var(--fs-l);
    cursor: pointer;
}
.input i:hover{
    color:white;
}
.searchResult{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-desc span{
    font-style: italic;
    font-weight: 100;
    color: rgb(80, 79, 79);
}
app-room-result{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    border: 2px solid var(--dark-roof);
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
}