<div class="container">
    <div class="left">
        <div class="left-top">
            <image-cropper
                [imageChangedEvent]="image"
                [maintainAspectRatio]="true"
                [aspectRatio]="3 / 3"
                [canvasRotation]="canvasRotation"
                [transform]="transform"
                format="png"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded($event)"
                (cropperReady)="cropperReady()"
                (loadImageFailed)="loadImageFailed()"
            ></image-cropper>
        </div>
        <div class="left-bottom">
            <div class="action" (click)="rotateRight()"><i class="fa-solid fa-rotate-right"></i></div>
            <div class="action" (click)="rotateLeft()"><i class="fa-solid fa-rotate-left"></i></div>
            <div class="action" (click)="flipHorizontal()"><i class="fa-solid fa-arrows-left-right"></i></div>
            <div class="action" (click)="flipVertical()"><i class="fa-solid fa-arrows-up-down"></i></div>
        </div>
        <div class="mobileEvents">
            <div class="cancel" (click)="cancel()">Cancel</div>
            <div class="done" (click)="done()">Done</div>
        </div>
    </div>
    <div class="right">
        <div class="right-top">
            <img [src]="croppedImage" alt="" srcset="">
        </div>
        <div class="right-bottom">
            <div class="cancel" (click)="cancel()">Cancel</div>
            <div class="done" (click)="done()">Done</div>
        </div>
    </div>
</div>