.login{
    height:92%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 35%;
    box-shadow: 0px 0px 32px -4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-top{
    display: flex;
    padding: 10px;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.login-title{
    font-weight: 900;
    font-size: var(--fs-xxl);
    color: var(--dark-roof);
}
.login-status{
    height: 15px;
    color: red;
    font-size: var(--fs-m);
}
.login-hline{
    margin-bottom: 10px;
}
.login-form{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
}
.form-items{
    height: 50px;
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item-error{
    display: flex;
    width: 100%;
    justify-content: end;
    color: rgb(240, 43, 17);
    font-size: var(--fs-xxm);
}
label{
    font-size: var(--fs-l);
    display: flex;
    gap: 30px;
    color: rgb(70, 69, 69);
    align-items: center;
    font-weight: 100;
}
input{
    border: none;
    font-size: var(--fs-l);
    width: 250px;
    height: 32px;
    border: 1px solid rgb(179, 174, 174);
}
p{
    color: rgb(94, 91, 91);
    font-size: var(--fs-m);
}
p > a{
    text-decoration: none;
    cursor: pointer;
    color:var(--dark-roof);
}
button{
    border: none;
    background-color:var(--dark-roof);
    width: 100px;
    font-size: var(--fs-l);
    height: 50px;
    border-radius: 10%;
    box-shadow: 2px 0px 53px -12px rgba(100,110,101,0.75);
    cursor: pointer;
    color: white;
    margin-top: -10px;
}
.form-bottom{
    margin-top: -20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}
.password-error{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    align-items: end;
    height: 15px;
}
.password-error-items{
    display: flex;
    gap: 5px;
}
@media screen and (max-width: 1200px) {
    .form-items{
        flex-direction: column;
    }
    .item{
        width: 100%;
    }
    input{
        width: 100%;
    }
}
@media screen and (max-width: 900px) {
    .container{
        width: 60%;
    }
    .form-items{
        flex-direction: column;
    }
    .item{
        width: 100%;
    }
    input{
        width: 100%;
    }
}
@media screen and (max-width: 700px) {
    .container{
        width: 70%;
    }
}
@media screen and (max-width: 620px) {
    .container{
        width: 80%;
    }
    .form-items{
        width: 85%;
    }
    .login-form{
        margin-top: 0px;
    }
}
@media screen and (max-width: 570px) {
    .container{
        width: 90%;
    }
    .login-title{
        font-size: var(--fs-xl);
    }
    button{
        width: 80px;
        font-size: var(--fs-m);
        height: 30px;
    }
    label{
        font-size: var(--fs-m);
    }
    .login-status{
        font-size: var(--fs-xm);
    }
    .login-top{
        gap: 0px;
    }
    p{
        font-size: var(--fs-xm);
    }
    
}