<div class="register">
    <div class="container">
        <div class="register-title">
            <span>Register</span>
        </div>
        <hr style="width: 80%; color:gray">
        <form action="" class="register-form">
            <div class="form-item">
                <label class="" for="username">Username:</label>
                <input type="text" class="register-input" id="username">
            </div>
            <div class="form-item">
                <label class="" for="email">Email:</label>
                <input type="email" class="register-input" id="email">
            </div>
            <div class="form-item">
                <label class="" for="phoneNumber">PhoneNumber:</label>
                <input type="number" class="register-input" id="phoneNumber">
            </div>
            <div class="form-item">
                <label class="" for="password">Password:</label>
                <input type="password" class="register-input" id="password">
            </div>
            <p>Already have an account?<a [routerLink]="'/login'" href="">Login</a></p>
            <button>Register</button>
        </form>
    </div>
</div>
