<div class="container">
    <div class="items">
        <div class="item">
            <div class="header">
                <span>Join Room</span>
            </div>
        </div>
        <div class="item">
            <div class="join-form">
                <div class="top">
                    <div class="input">
                        <input type="text">
                        <i></i>
                    </div>
                    <div class="searchResult"></div>
                </div>
                <div class="bottom">
                    <div class="cancel">
                        <button class="cancelBtn">Cancel</button>
                    </div>
                    <div class="create">
                        <button class="createBtn">Join</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>