.group{
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    height: 100%;
    gap: 5px;
    cursor: pointer;
}

.group:hover i{
    color: var(--light-roof);
}
.group-icon{
    flex: 1;
}
.group-icon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.group-icon i{
    color: var(--dark-base);
}
.group-icon img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);

}
.icon-area{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--light-roof);
}
.group-items{
    flex: 9;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 5px;
    width: 75%;
}
.group-items span:nth-child(1){
    font-size: var(--fs-m);
}
.group-items span:nth-child(2){
    font-size: var(--fs-s);
}
.group-items div:first-child{
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 7px;
    
}
.group-join{
    margin-right: 10px;
    padding: 3px 10px 3px 10px;
    border: 1px solid var(--dark-base);
    font-size: var(--fs-xxm);
    font-weight: 700;
}
.group-join:hover {
    background-color: var(--dark-roof);
    border: 1px solid white;
    color: white;
}
.room-name{
    font-weight: 700;
}