<div class="container">
    <div class="items">
        <div class="item circle" [@dropupAnimation]>
            <div *ngIf="isRecording"> {{recordedTime}} </div>
        </div>
        <div class="item circle" [@dropupAnimation]>
            <button type="submit" (click)="stopRecording()">
                <span class="material-symbols-outlined">
                    send
                </span>
            </button>
        </div>
        <div class="item circle" [@dropupAnimation]>
            <i class="fa-solid fa-trash" (click)="abortRecording()"></i>
        </div>
        <!-- <div>
            @if(!isRecording){
                <audio #audioPlayer controls style="margin: 10px;"></audio>
            }
        </div> -->
    </div>
</div>