<div class="container">
    <div class="items">
        <div class="item">
            <i class="fa-solid fa-trash"></i>
        </div>
        <div class="item">
            <span>00:00</span>
        </div>
        <div class="item">
            <img src="/assets/audio-record.gif" alt="">
        </div>
        <div class="item">
            <i class="fa-regular fa-circle-pause"></i>
        </div>
        <div class="item">
            <button type="submit">
                <span class="material-symbols-outlined">
                    send
                </span>
            </button>
        </div>
    </div>
</div>