.alert-container{
    min-width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--mid-roof);
    border-radius: 10px;
}
.alert-dialog{
    display: flex;
    width: 95%;
    height: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--light-roof);
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin: 10px;
}
.alert-content{
    padding: 20px 10px 20px 10px;
    flex: 1;
    display: flex;
    align-items: start;
    justify-content: center;
    max-width: 280px;
    line-break:normal;
    gap: 5px;
}
.alert-content i{
    color: var(--dark-roof);
    font-size: 20px;
    cursor: pointer;
}
.alert-content i:hover{
    color: var(--mid-roof);
}
.alert-content span{
    font-size: var(--fs-m);
}
.alert-content .room-code{
    font-size: 20px;
}
.alert-buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
}
.alert-buttons button{
    border: none;
    padding: 8px 0px 8px 0px;
    background-color: var(--dark-roof);
    font-size: var(--fs-xm);
    width: 40%;
    margin-bottom: 5px;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
    color: white;
    cursor: pointer;
    border-radius: 2px;
}
.alert-buttons button:hover{
    background-color: var(--mid-roof);
    color: black;
}
.copied-text{
    font-size: 12px;
    color: var(--dark-roof);
    font-style: italic;
    margin-top: -20px;
    padding: 5px;
}