.container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.items{
    display: flex;
    flex-direction: column;
    width: 95%;
    gap: 10px;
}
.item{
    padding: 15px;
    background-color:  rgb(147, 122, 167);
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
    cursor: pointer;
}
.item:hover{
    background-color: #49416d;
    border: 1px solid #bdd9bf;
}
.item:hover i{
    color: #bdd9bf;
}
.item i{
    font-size: 22px;
    color: #49416d;
}
.item .icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item span{
    color: white;
}