.container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.items{
    display: flex;
    flex-direction: column;
    width: 95%;
    gap: 10px;
}
.item{
    padding: 15px;
    background-color: var(--light-roof);
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
    border: 1px solid var(--light-roof);
    cursor: pointer;
}
.item:hover{
    background-color: var(--dark-roof);
    border: 1px solid var(--light-roof);
}
.item:hover span{
    color: white;
}
.item:hover i{
    color: var(--light-roof);
}
.item i{
    font-size: var(--fs-l);
    color: var(--dark-base);
}
.item .icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item span{
    color: black;
}