<div class="container">
    <div class="items">
        <div class="item" (click)="showContent('general')">
            <div class="icon">
                <i class="fa-solid fa-gears"></i>
            </div>
            <span>General</span>
        </div>
        <div class="item" (click)="showContent('account')">
            <div class="icon">
                <i class="fa-solid fa-key"></i>
            </div>
            <span>Account</span>
        </div>
        <div class="item" (click)="showContent('chats')">
            <div class="icon">
                <i class="fa-solid fa-comments"></i>
            </div>
            <span>Chats</span>
        </div>
        <div class="item" (click)="showContent('notifications')">
            <div class="icon">
                <i class="fa-solid fa-bell"></i>
            </div>
            <span>Notifications</span>
        </div>
        <div class="item" (click)="showContent('personalization')">
            <div class="icon">
                <i class="fa-solid fa-paintbrush"></i>
            </div>
            <span>Personalization</span>
        </div>
        <div class="item" (click)="showContent('storage')">
            <div class="icon">
                <i class="fa-solid fa-hard-drive"></i>
            </div>
            <span>Storage</span>
        </div>
        <div class="item" (click)="showContent('help')">
            <div class="icon">
                <i class="fa-solid fa-circle-info"></i>
            </div>
            <span>Help</span>
        </div>
    </div>
</div>