<div class="modal" [@popupAnimation]>
	<div class="modal-overlay" (click)="close($event)"></div>
	<div class="modal--modal-content">
        @switch (modalText) {
            @case ("createRoom") {
                <app-create-room (successEvent)="onCreateSuccess($event)" [createWithUser]="modelContent"></app-create-room>
            }
            @case ("joinRoom") {
                <app-join-room (successEvent)="onJoinSuccess($event)"></app-join-room>
            }
            @case ("viewImage") {
                <img [src]="modelContent" alt="" [@fadeInOut]>
            }
            @case ("addMember") {
                <app-add-room-member [roomId]="modelContent" (successEvent)="onMemberAddSuccess($event)"></app-add-room-member>
            }
            @case ("Delete message") {
                <app-confirmation-dialog [message]="modelContent" [title]="modalText" (confirmEvent)="onConfirmEvent($event)" (cancelEvent)="onCancelEvent($event)"></app-confirmation-dialog>
            }
            @case ("Exit room") {
                <app-confirmation-dialog [message]="modelContent" [title]="modalText" (confirmEvent)="onConfirmEvent($event)" (cancelEvent)="onCancelEvent($event)"></app-confirmation-dialog>
            }
            @case ("Delete this room?") {
                <app-confirmation-dialog [message]="modelContent" [title]="modalText" (confirmEvent)="onConfirmEvent($event)" (cancelEvent)="onCancelEvent($event)"></app-confirmation-dialog>
            }
            @case ("Remove participant") {
                <app-confirmation-dialog [message]="modelContent" [title]="modalText" (confirmEvent)="onConfirmEvent($event)" (cancelEvent)="onCancelEvent($event)"></app-confirmation-dialog>
            }
            @case ("Alert") {
                <app-alert-dialog [message]="modelContent" (closeEvent)="onCloseAlert($event)"></app-alert-dialog>
            }
        }
		<a class="modal--close-btn" (click)="close($event)" [class.hide]="isImageViewer || isAlert">X</a>
	</div>
</div>