<div class="modal" [@popupAnimation]>
	<div class="modal-overlay" (click)="close($event)"></div>
	<div class="modal--modal-content">
        @switch (modalText) {
            @case ("createRoom") {
                <app-create-room [title]="modalTitle" [createWithUser]="modelContent" (successEvent)="onCreateSuccess($event)"></app-create-room>
            }
            @case ("joinRoom") {
                <app-join-room [title]="modalTitle" (successEvent)="onJoinSuccess($event)"></app-join-room>
            }
            @case ("viewImage") {
                <img [src]="modelContent" alt="" [@fadeInOut]>
            }
            @case ("viewVideo") {
                <video [@fadeInOut] controls>
                    <source [src]="modelContent" type="video/mp4" >
                </video>
            }
            @case ("addMember") {
                <app-add-room-member [title]="modalTitle" [roomId]="modelContent" (successEvent)="onMemberAddSuccess($event)" ></app-add-room-member>
            }
            @case ("confirmation") {
                <app-confirmation-dialog [title]="modalTitle" [message]="modelContent" (confirmEvent)="onConfirmEvent($event)" (cancelEvent)="onCancelEvent($event)"></app-confirmation-dialog>
            }
            @case ("alert") {
                <app-alert-dialog [title]="modalTitle" [message]="modelContent" (closeEvent)="onCloseAlert($event)"></app-alert-dialog>
            }
            @case ("handleImage") {
                <app-image-handler [title]="modalTitle" [image]="modelContent" (doneEvent)="onDoneEvent($event)" (cancelEvent)="onCancelEvent($event)"></app-image-handler>
            }
        }
		<a class="modal--close-btn" (click)="close($event)" [class.hide]="removeCloseIcon">X</a>
	</div>
</div>