.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 30px;
}

.modal-overlay {
    background: rgba(56, 56, 56, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.modal--modal-content {
    box-shadow: 0 1px 3px 0 rgba(38,41,58,.06);
    position: relative;
    display: flex;
    align-items: center;
    // width: 95%;
    // height: 80%;
    justify-content: center;
}

.modal--close-btn {
    position: absolute;
    top: -15px;
    right: -13px;
    font-size: var(--fs-l);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: black;
    background-color: var(--light-roof);
    text-align: center;
    border-radius: 50%;
}
.hide{
    display: none;
}
.modal--close-btn:hover {
    background-color: darken(#366274, 15%);
    cursor: pointer;
    color: white;
}
img{
    max-width: 90%;
    min-width: 300px;
    max-height: 650px;
    object-fit: cover;
}
video{
    max-width: 90%;
    min-width: 300px;
    max-height: 650px;
    object-fit: cover;
}
app-create-room{
    width: 450px;
    height:380px;
}
app-join-room{
    width: 400px;
    height:230px;
}
app-add-room-member{
    width: 450px;
    height: 300px;
}
app-confirmation-dialog{
    // width: 350px;
    // height:180px;
}
@media only screen and (max-width: 770px) {
    // .modal--close-btn {
    //     display: none;
    // }
}
@media only screen and (max-width: 426px) {
    .modal--close-btn {
        display: none;
    }
    .modal--modal-content {
        width: 95%;
    }
    img{
        // width: 100%;
    }
    app-create-room{
        width: 100%;
    }
    app-join-room{
        width: 100%;
    }
    app-add-room-member{
        width: 100%;
    }
    
}
