<div class="modal" [@popupAnimation]>
	<div class="modal-overlay" (click)="close($event)"></div>
	<div class="modal--modal-content">
        @switch (modalText) {
            @case ("createRoom") {
                <app-create-room (successEvent)="onCreateSuccess($event)" [createWithUser]="modelContent"></app-create-room>
            }
            @case ("joinRoom") {
                <app-join-room (successEvent)="onJoinSuccess($event)"></app-join-room>
            }
            @case ("viewImage") {
                <img [src]="modelContent" alt="" [@fadeInOut]>
            }
            @case ("addMember") {
                <app-add-room-member [roomId]="modelContent" (successEvent)="onMemberAddSuccess($event)"></app-add-room-member>
            }
            @case ("confirmation") {
                <div class="confirmation-dialog" *ngIf="modalText === 'confirmation'">
                    <p>{{ modelContent.message }}</p>
                    <div class="confirmation-buttons">
                      <button (click)="confirm()">Confirm</button>
                      <button (click)="cancel()">Cancel</button>
                    </div>
                </div>
            }
        }
		<!-- <a class="modal--close-btn" (click)="close($event)">X</a> -->
	</div>
</div>