<div class="container">
    @switch (showWhat) {
        @case ("chat") {
            <app-chat-messages [currentChat]="currentChat" (showProfileEvent)="viewProfile($event)"></app-chat-messages>
        }
        @case ("profile") {
            <app-chat-profile [currentChat]="currentChat" (eventEmitter)="viewEvent($event)"></app-chat-profile>
        }
        @default {
            <div class="startChat">
                <span>Start a new chat</span>
            </div>
        }
      }
</div>