<div class="container">
    @switch (showWhat) {
        @case ("chat") {
            <app-chat-messages [isCurrentUserPastParticipant]="isCurrentUserPastParticipant" [currentChat]="currentChat" (showProfileEvent)="viewProfile($event)"></app-chat-messages>
        }
        @case ("profile") {
            <app-chat-profile [isCurrentUserPastParticipant]="isCurrentUserPastParticipant"  [currentChat]="currentChat" (eventEmitter)="viewEvent($event)" (exitSuccessEvent)="onExitSuccess($event)"></app-chat-profile>
        }
        @default {
            <div class="other">
                <div class="image">
                    <img src="/assets/logo2.png">
                </div>
                <span>{{otherResponse}}</span>
            </div>
        }
      }
</div>