.container{
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color:#bdd9bf;
    flex-direction: column;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 9%;
    position: sticky;
    background-color: #bdd9bf;
    border-bottom: 1px solid rgb(170, 168, 168);
    z-index: 999;
    width: 100%;
    top: 0;
}
.left{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: start;
    gap: 4px;
    padding-left: 10px;
    flex: 2;
  }
  .chat-image{
    width: 47px;
    height: 47px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);

}
.chat-name{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.name{
     cursor: pointer;
    font-size: 18px;
    font-weight: 800;
  }
  .name-space{
    flex: 1;
  }
  .last-message{
    font-size: 11px;
  }
  .right{
    display: flex;
    font-size: 12px;
    align-items: center;
    height: 100%;
    flex: 2;
    justify-content: end;
}
.menu-container{
  width: 200px;
  font-size: 20px;
  position: relative;
}
.menu-toggler{
  padding: 10px;
}
.menu{
  background-color: #333;
  color: white;
  position: absolute;
  top: 40px;
  right: 9px;
  border-radius: 10px;
}
.menu-item{
  background-color: #49416d;
    padding: 10px;
    color: white;
    cursor: pointer;
    font-size: 15px;
}
.menu-item:hover{
  background-color: rgb(147, 122, 167);
}
.more{
    cursor: pointer;
    font-size: 20px;
  }
  .view{
    background-color: rgb(223, 220, 220);
    width: 100%;
    height: 88%;
    box-shadow: inset 0 0 10px gray;
    overflow: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.view::-webkit-scrollbar {
  display: none;
}
.message-area{
    width: 97%;
    height: 97%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
  .send-container{
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
  }
  .send{
    width: 60%;
    display: flex;
    align-items: center;
  }
  .input{
    flex: 1;
    display: flex;
    gap: 5px;
  }
  input{
    width: 100%;
    height: 27px;
    border-radius: 20px;
    border: none;
  }
  .button{
    flex: 1;
    display: flex;
    justify-content: end;
  }
  button{
    border: none;
    color: white;
    background-color: #49416d;
    border-radius: 5px;
    cursor: pointer;
    width: 70px;
  }
  .startChat{
    text-align: center;
    font-size: 25px;
    position: absolute;
    top: 45%;
    left: 40%;
    color: #49416d;
  }
  app-chat-profile{
    height: 100%;
    width: 100%;
  }
  app-create-room{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }