/* You can add global styles to this file, and also import other style files */
html,body {
    margin : 0;
    height: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Alata&family=REM:wght@500&family=Space+Grotesk&display=swap');

body{
    font-family: 'Space Grotesk', sans-serif;
}

// font-family: 'Space Grotesk', sans-serif; ----base font

