/* You can add global styles to this file, and also import other style files */
html,body {
    margin : 0;
    height: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Alata&family=REM:wght@500&family=Space+Grotesk&display=swap');
body{
    font-family: 'Rubik', sans-serif;
}

:root {
    --darkx-base: #222836;
    --dark-base: #383f51;
    --light-base: #868d9e;
    --light-roof: #b4ccbc;
    --lightx-roof: #d3e4d9;
}

// --light-roof: #f7f4f3;
// --light-roof: #9abfce;
// --light-roof: #a7c2cc;
// --light-roof: #dfd9e2; ----->

// font-family: 'Space Grotesk', sans-serif; ----base font

