.container{
    background-color: var(--light-roof);
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    position: relative;
    width: 100%;
}
.container::-webkit-scrollbar {
    display: none;
  }
.back{
    position: sticky;
    top: 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 30px;
    font-size: 25px;
    color: var(--dark-base);
    z-index: 99;
}
.back i{
    cursor: pointer;
    font-weight: 600;
}
.back i:hover{
    color: white;
}

.scroll-container{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.items{
    display: flex;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.item{
    color: white;
    display: flex;
    background-color: var(--dark-base);
    width: 100%;
    flex-direction: column;
    border-radius: 7px;
}
.chat-basic{
    width: 100%;
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.image{
    width: 200px;
    height: 200px;
}
.image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
    cursor: pointer;
    object-fit:cover;
}
.name{
    font-size: 24px;
    font-weight: 700;
    color: white;
}
.phone{
    color: white;
    font-size: 15px;
}
.options{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin: 10px 0px 10px 0px;
}
.option{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-roof);
    font-size: 20px;
    border: 0.5px solid var(--light-roof);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
}
.option:hover{
    background-color: var(--light-roof);
    color: var(--dark-base);
}
.bio{
    margin: 10px 50px 10px 50px;
    display: flex;
    justify-content: start;
    flex-direction: column; 
    width: 100%;
}
.bio-title{
    font-size: 12px;
    color: rgb(224, 222, 222);
}
.bio-content{
    color: white;
    font-size: 15px;
}
.chat-meta{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;

}
.metas{
    display: flex;
    width: 90%;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.meta{
    border-radius: 10px;
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;
    cursor: pointer;
}
.metas .meta:hover{
    background-color: var(--light-roof);
    color: var(--dark-base);
}
.metas .meta:hover .prio2 i{
    color: var(--dark-base);
}
.metas .meta:hover span{
    color: var(--dark-base);
}
.meta i{
    font-size: 25px;
}
.meta .prio2 i{
    color: var(--light-roof);
}

.meta .prio1 i{
    color: rgb(149, 45, 45);
}
.meta span{
    color: white;
    font-size: 13px;
}
.icon{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    
}
.group-count{
    margin-top: 10px;
    width: 90%;
    align-self: center;
    font-size: 15px;
    color: rgb(224, 222, 222);
}
.group-container{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.group:first-child:hover{
    background-color: rgb(147, 122, 167);
}
.group{
    width: 90%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.group:hover{
    background-color: var(--light-roof);
    color: var(--dark-base);
}
.group:hover .icon-area{
    background-color: var(--dark-base);
    color: var(--light-roof);
}
.group:hover i{
    color: var(--light-roof);
}
.group-icon{
    flex: 1;
}
.group-icon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.group-icon i{
    color: var(--dark-base);
}
.group-icon img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.icon-area{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--light-roof);
}
.group-item{
    flex: 9;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5px;
}
.group-item span:nth-child(1){
    font-size: 17px;
}
.group-item span:nth-child(2){
    font-size: 10px;
}
.pastMember{
    align-self: flex-start;
    margin-left: 40px;
    font-size: 15px;
    color: rgb(224, 222, 222);
}
app-participant{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
}
app-common-group{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
}