<div class="container">
    <div class="back">
        <i class="fa-solid fa-arrow-left" (click)="backToChat()"></i>
    </div>
    <div class="scroll-container">
        <div class="items">
            <div class="item">
                <div class="chat-basic">
                    <div class="image">
                        <img [src]="chatPicture" alt="" (click)="viewImage()">
                        @if(!isChatTypeUser && isCurrentUserAdmin){
                            <label class="upload-icon">
                                <i class="fa-solid fa-camera"></i>     
                                <input type="file" id="file" style="display: none" (change)="onFilechange($event)" name="image" accept="image/gif,image/jpeg,image/jpg,image/png" multiple="" data-original-title="upload photos">   
                            </label>
                        }
                    </div>
                    <div class="name">
                        <span>{{chatDetails?.name}}</span>
                    </div>
                </div>
                <div class="options">
                    @if (!isCurrentUserPastParticipant) {
                        <div class="option">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                    }
                    @if(chatDetails?.email){
                        <div class="option">
                            <i class="fa-regular fa-envelope"></i>
                        </div>
                    }
                    <div class="option" (click)="searchMessage()">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="option">
                        <i class="fa-solid fa-share"></i>
                    </div>
                </div>
            </div>
            <div class="item">
                @if (chatDetails?.bio || chatDetails?.description) {
                    <div class="bio">
                        <span class="bio-title">About</span>
                        <span class="bio-content">{{chatDetails.bio ? chatDetails.bio : chatDetails.description }}</span>
                    </div>
                }
                @if(chatDetails?.email){
                    <div class="bio">
                        <span class="bio-title">Email</span>
                        <span class="bio-content">{{chatDetails?.email}}</span>
                    </div>
                }
                @if(chatDetails?.phone_number){
                    <div class="bio">
                        <span class="bio-title">Phone</span>
                        <span class="bio-content">{{chatDetails?.phone_number}}</span>
                    </div>
                }
                <div class="bio">
                    <span class="bio-title">Created At</span>
                    <span class="bio-content">{{createdAt}}</span>
                </div>
            </div>
            @if (isCurrentUserPastParticipant) {
                <div class="item">
                    <div class="chat-meta">
                        <span class="no-longer-a-member">You're no longer a member in this room</span>
                    </div>
                </div>
            }
            <div class="item">
                <div class="chat-meta">
                    <div class="metas">
                        @if(!isChatTypeUser && isCurrentUserAdmin){
                            <div class="meta" (click)="showAddMembers()">
                                <div class="icon prio2">
                                    <i class="fa-solid fa-user-plus"></i>
                                </div>
                                <span>Add Members</span>
                            </div>
                        }
                        @if (!isCurrentUserPastParticipant) {
                            <div class="meta">
                                <div class="icon prio2">
                                    <i class="fa-solid fa-bell-slash"></i>
                                </div>
                                <span>Mute notifications</span>
                            </div>
                        }
                        @if (isCurrentUserPastParticipant) {
                            <div class="meta">
                                <div class="icon prio1">
                                    <i class="fa-solid fa-trash"></i>
                                </div>
                                <span>Delete {{chatDetails?.name}}</span>
                            </div>
                        }
                        @if(chatDetails?.email){
                            <div class="meta">
                                <div class="icon prio1">
                                    <i class="fa-solid fa-ban"></i>
                                </div>
                                <span>Block {{chatDetails?.name}}</span>
                            </div>
                        }@else{
                            @if (!isCurrentUserPastParticipant) {
                                <div class="meta" (click)="onExitRoom()">
                                    <div class="icon prio1">
                                        <i class="fa-solid fa-arrow-right-from-bracket"></i>  
                                    </div>
                                    <span>Exit {{chatDetails?.name}}</span>
                                    <span class="exit-error" style="font-size: 10px;" [hidden]="isExitSuccess">Can't Exit, You are the only Admin!</span>
                                </div>
                            }
                        }
                        <div class="meta">
                            <div class="icon prio1">
                                <i class="fa-solid fa-thumbs-down"></i>
                            </div>
                            <span>Report {{chatDetails?.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                @if(members){
                    <div class="group-count">
                        <span>{{members?.length}} participants</span>
                    </div>
                    <div class="group-container">
                        @for(member of members; track member.id){
                          <app-participant [member]="member" [adminFlag]="isCurrentUserAdmin" (removeParticipantEvent)="onRemoveEvent($event)" (makeRoomAdminEvent)="onMakeRoomAdminEvent($event)" (dismissAdminEvent)="onDismissAdminEvent($event)"></app-participant> 
                        }                
                    </div>
                    @if(pastMembers?.length!=0){
                        <div class="group-count">
                            <span>Past participants</span>
                        </div>
                        <div class="group-container">
                            @for(pastMember of pastMembers; track pastMember.id){
                                <app-participant [member]="pastMember"></app-participant> 
                            }
                        </div>
                    }
                }@else{
                    <div class="group-count">
                        <span>{{userCommonRooms?.length}} Room in common</span>
                    </div>
                    <div class="group-container">
                        <div class="group" (click)="createRoom()">
                            <div class="group-icon">
                                <div class="icon-area">
                                    <i class="fa-solid fa-user-group"></i>
                                </div>
                            </div>
                            <div class="group-item">
                                <span>Create room with {{chatDetails?.name}}</span>
                            </div>
                        </div>
                        @for (room of userCommonRooms; track room.id) {
                            <app-common-group [room]="room"></app-common-group>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>

