.container{
    background-color: var(--light-roof);
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    position: relative;
    width: 100%;
}
.container::-webkit-scrollbar {
    display: none;
  }
.back{
    position: sticky;
    top: 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 30px;
    font-size: var(--fs-xl);
    color: var(--black-alpa);
    z-index: 99;
}
.back i{
    cursor: pointer;
    font-weight: 600;
}
.back i:hover{
    color: black;
}

.scroll-container{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.items{
    display: flex;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.item{
    color: black;
    display: flex;
    background-color: var(--mid-roof);
    width: 100%;
    z-index: 0;
    flex-direction: column;
    border: 0.5px solid var(--light-ruser);
    border-radius: 7px;
}
.info1{
    z-index: 2;
}
.info2{
    z-index: 1;
}
.chat-basic{
    width: 100%;
    margin: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:white;
    position: relative;
    border-radius: 50%;
    width: 180px;
    height: 180px;
}
.image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
    cursor: pointer;
    object-fit:cover;
}
.upload-icon{
    position: absolute;
    background-color: var(--light-roof);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: 0px;
    right: 0px;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.1);
    cursor: pointer;
}
.upload-icon i{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 100%;
    font-size: var(--fs-xxl);
    color: var(--dark-base);
}
.upload-icon :hover{
    background-color: var(--darkx-base);
}
.upload-icon:hover i{
    background-color: var(--dark-base);
    color: var(--light-roof);
}
.name{
    font-weight: 700;
    color: black;
    display: flex;
    align-items: normal;
    
}
.name i{
    cursor: pointer;
}
.name .fa-pencil{
    font-size: 13px;
}
.name input,span{
    font-size: calc(var(--fs-xl) - 5px);
}
.name span{ 
    display: flex;
    white-space: nowrap;
    max-width: 580px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.name input{
    text-align: center;
    width: 200px;
}
.name .input-with-emoji{
    flex-direction: row-reverse;
}
.name .emoji-container{
    padding-left: 15px;
}
.name .emoji-container emoji-mart{
    top: 30px;
    left: 0px;
}
.name .fa-check, .fa-xmark{
    font-size: 20px;
}
.name .fa-face-smile{
    font-size: calc(var(--fs-l) + 0px);
}
.fa-face-smile{
    color: rgb(83, 83, 83);
}
.phone{
    color: black;
    font-size: var(--fs-m);
}
.options{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 35px;
    margin: 10px 0px 10px 0px;

}
.options a{
    text-decoration: none;
}
.option{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: var(--fs-l);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 5px rgba(30, 30, 30, 0.1);
}
.option:hover{
    background-color: var(--light-roof);
    color: var(--dark-base);
}
.bio-item{
    align-items: center;
    justify-content: center;
}
.bio{
    margin: 7px 0px 7px 0px;
    display: flex;
    justify-content: start;
    flex-direction: column; 
    width: 88%;
}
.bio-title{
    font-size: var(--fs-xxm);
    color: rgb(48, 48, 48);
}
.bio-content{
    color: black;
    font-size: var(--fs-m);
}
.about-Desc-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.about-Desc-container i{
    cursor: pointer;
}
.about-desc-content{
    width: 96%;
}
.about-desc-content input{
    font-size: var(--fs-m);
}
.edit-input input{
    width: 100%;
    background-color: var(--mid-roof);
    border: none;
    border-bottom: 1px solid black;
}
.edit-input input:focus{
    outline: none;
}
.bioInput{
    width: 90%;
    line-break: anywhere;
    font-size: var(--fs-m);
    border-bottom: 1px solid var(--dark-base);
    // max-height: 40px;
}

.bioInput:focus{
    outline: none;
}
.name-input{
    width: 90%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}
.input-with-emoji{
    padding-top: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.emoji-container{
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 8px;
    position: relative;
  }
  .emoji-container i{
    font-size: var(--fs-l);
    cursor: pointer;
  }
  .emoji-container i:hover{
    color: gray;
  }
  .emoji-container emoji-mart{
    position: absolute;
    top: 25px;
    right: -80px;
    z-index: 999;
  }
  button{
    border: none;
    border-radius: 20px;
    background-color:var(--mid-roof);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fa-check{
    color: white;
    font-size: 20px;
  }
  .fa-xmark{
    color: red;
  }


.no-longer-a-member{
    padding: 10px 0px 10px 0px;
    font-size: var(--fs-m);
    color: rgb(100, 46, 46);
}
.chat-meta{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.metas{
    display: flex;
    width: 90%;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.meta{
    border-radius: 10px;
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}
.metas .meta:hover{
    background-color: var(--light-roof);
    color: var(--dark-base);
}
.metas .meta:hover .prio2 i{
    color: var(--dark-base);
}
.metas .meta:hover span{
    color: var(--dark-base);
}
.meta i{
    font-size: var(--fs-xl);
}
.meta .prio2 i{
    color: black;
}

.meta .prio1 i{
    color: rgb(149, 45, 45);
}
.meta span{
    color: black;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    font-size: var(--fs-xm);
}
.exit-error{
    font-style: italic;
}
.icon{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    
}
.group-count{
    margin-top: 10px;
    width: 90%;
    align-self: center;
    color: rgb(48, 48, 48);
}
.group-count span{
    font-size: var(--fs-m);
}
.group-container{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.group{
    width: 90%;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.group:hover{
    background-color: var(--light-roof);
    color: var(--dark-base);
}
.group:hover .icon-area{
    background-color: var(--dark-base);
    color: var(--light-roof);
}
.group:hover i{
    color: var(--light-roof);
}
.group-icon{
    flex: 1;
}
.group-icon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.group-icon i{
    color: var(--dark-base);
}
.group-icon img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.icon-area{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--light-roof);
}
.group-item{
    flex: 9;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5px;
}
.group-item span:nth-child(1){
    font-size: var(--fs-m);
}
.group-item span:nth-child(2){
    font-size: var(--fs-s);
}
.pastMember{
    align-self: flex-start;
    margin-left: 40px;
    font-size: var(--fs-m);
    color: rgb(224, 222, 222);
}
app-participant{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    position: relative;
}
app-common-group{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
}
@media screen and (max-width: 1100px) {
    .name span{ 
        max-width: 450px;
    }
}
@media screen and (max-width: 900px) {
    .name span{ 
        max-width: 400px;
    }
}
@media screen and (max-width: 850px) {
    .name input,span{
        font-size: var(--fs-l);
    }
    .name span{ 
        max-width: 300px;
    }
}
@media screen and (max-width: 700px) {
    .scroll-container .items{
        width: 95%;
        gap: 2px;
    }
    .back{
        font-size: 25px;
        left: 5px;
    }
    .option{
        width: 45px;
        height: 45px;
    }
    .image{
        width: 120px;
        height: 120px;
    }
    .upload-icon{
        width: 45px;
        height: 45px;
    }
    .upload-icon i{
        font-size: var(--fs-xl);
    }
    .bio{
        margin: 3px 0px 3px 0px;
    }
    .metas{
        width: 95%;
        gap: 0px;
    }
    .meta{
        gap: 0px;
        font-size: var(--fs-xm);
    }
    .meta i{
        font-size: 25px;
    }
    .name{
        font-size: 18px;
    }
    .icon-area{
        width: 40px;
        height: 40px;
    }
    .group-item span{
        font-size: 13px;
    }
    .name input,span{
        font-size: var(--fs-l);
    }
    .name span{ 
        max-width: 260px;
    }
}
@media screen and (max-width: 530px) {
    .name span{ 
        max-width: 220px;
    }
}

