<div class="container">
    <div class="scroll-container">
        <div class="items">
            <div class="item">
                <div class="chat-basic">
                    <div class="image">
                        <img src="" alt="">
                    </div>
                    <div class="name">
                        <span>Adithyan</span>
                    </div>
                    <div class="phone">
                        <span>9897865677</span>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bio">
                    <span>bio...</span>
                </div>
            </div>
            <div class="item">
                <div class="chat-meta">
                    
                </div>
            </div>
        </div>
    </div>
</div>
