<div class="container">
    <div class="scroll-container">
        <div class="items">
            <div class="item">
                <div class="chat-basic">
                    <div class="image">
                        <img src="https://img.freepik.com/premium-vector/man-avatar-profile-picture-vector-illustration_268834-538.jpg" alt="">
                    </div>
                    <div class="name">
                        <span>Adithyan</span>
                    </div>
                    <div class="phone">
                        <span>adithyangmail.com</span>
                    </div>
                </div>
                <div class="options">
                    <div class="option">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div class="option">
                        <i class="fa-regular fa-envelope"></i>
                    </div>
                    <div class="option">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="bio">
                    <span class="bio-title">Bio</span>
                    <span class="bio-content">Hey! there, I am using ChatApp</span>
                </div>
            </div>
            <div class="item">
                <div class="chat-meta">
                    <div class="metas">
                        <div class="meta">
                            <div class="icon">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                            <span>Mute notifications</span>
                        </div>
                        <div class="meta">
                            <div class="icon">
                                <i class="fa-solid fa-ban"></i>
                            </div>
                            <span>Block Adithyan</span>
                        </div>
                        <div class="meta">
                            <div class="icon">
                                <i class="fa-solid fa-thumbs-down"></i>
                            </div>
                            <span>Report Adithyan</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="group-count">

                </div>
                <div class="group-container">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="back">
        <i class="fa-solid fa-arrow-left"></i>
    </div>
</div>
